@tailwind base;
@tailwind components;
@tailwind utilities;

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background-color: transparent;
}

.slider::-webkit-slider-runnable-track {
  border-radius: 99rem;
  height: 0.5rem;
  background-color: hsl(224, 65%, 95%);
}

.slider::-moz-range-track {
  border-radius: 99rem;
  height: 0.5rem;
  background-color: hsl(224, 65%, 95%);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -1rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-image: url("./images/icon-slider.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: hsl(174, 86%, 45%);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-image: url("./images/icon-slider.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: hsl(174, 86%, 45%);
  cursor: pointer;
}
